footer{
    width: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: black; /* Warna teks footer */
    margin-top: auto; /* Menempatkan footer di bagian bawah */
    text-align: center; /* Tengah pada teks */
}

.owner{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}

.invest{
    display: flex;
    font-size: 12px;
    font-weight: lighter;
    justify-content: center;
}